<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <form action="/meme" method="post" target="blank">
    <input name="meme">
    <button>lukesgoodtome</button>
  </form>

</body>
</html>
