<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h2>302 GET</h2>
  <form action="/meme" target="blank">
    <input name="meme">
    <button>lukesgoodtome</button>
  </form>

  <h2>Slack POST</h2>
  <form action="/meme" method="post" target="blank">
    <input name="text">
    <button>lukesgoodtome</button>
  </form>

</body>
</html>
