<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h2>Test Stuff</h2>

  <h3>302 GET</h3>
  <form action="/meme" target="blank">
    <input name="meme">
    <button>lukesgoodtome</button>
  </form>

  <h3>Slack POST</h3>
  <form action="/meme" method="post" target="blank">
    <input name="text">
    <button>lukesgoodtome</button>
  </form>

  <h2>Can't remember your memes?</h2>

  <a href="/list">Click here to view a list of all memes.</a>

</body>
</html>
